.content {
	width: 970px;
}
.carousel {
	background-image: url('http://carsale.uol.com.br/classificado/img/ofertasBanner.png');
	width: 970px;
	height: 327px;
	overflow: hidden;
	border-radius: 15px;
}
.item {
	overflow: hidden;
}
.carousel-image {
	margin: auto;
	padding-top: 100px;
	width: 350px;
	height: 167px;
}
.carousel-caption {
	width: 230px;
	left: 660px;
	top: 115px;
	height: auto;
	color: #531313;
	font-size: 32px;
	text-decoration: none;
	font-weight: bold;
}
.carousel-title {
	left: 60px;
	top: 135px;
	color: #585858;
	font-size: 20px;
}
.carousel-opacity {
	font-size: 14px;

}
.carousel-version {
	color: #425182;
	font-size: 14px;
}
.carousel-desc {
	font-size: 14px;
	font-weight: normal;
}
.carousel-indicators li {
	border-color: #000;
}
.carousel-indicators .active {
	background-color: #000;
}
/*OFERTAS*/
.megaOfertasCarsaleImgOferta, .megaOfertasCarsaleTituloOferta{
	width: 100%;
	height: 140px;
}
.imgMegaOfertaNormal {
	overflow: hidden;
	display: block;
	max-height: 100px;
	max-width: 175px;
	margin: auto;
}
.megaOfertasCarsaleValorOferta {
	width: 185px;
	padding: 0px 0 0 0;
}
.megaOfertasCarsaleOferta {
	margin: 10px 5px;
	height: 320px;
}
.megaOfertasCarsaleFormColunaInput {
	width: 480px;
}
.megaOfertasCarsaleFormLineInput {
	height: 38px;
}
input.megaOfertasCarsaleFormTrocaInputBox {
	width: 116px;
}
input.megaOfertasCarsaleFormInputDddBox {
	width: 56px;
}
.megaOfertasCarsaleCentralizador { width:988px; height:auto; padding-top:5px; margin-left:auto; margin-right:auto; position:relative; overflow:hidden;
z-index:0;
}
.megaOfertasCarsaleHeader { width:988px; height:278px; background-image:url('../img/megaOfertasCarsaleHeaderBg.jpg'); background-repeat:no-repeat; position:relative; float:left; overflow:hidden; }
.megaOfertasCarsaleBtnDireitaHeader { overflow:visible; }
.megaOfertasCarsaleBtnDireitaHeader a { width:34px; height:34px; margin-left:20px; margin-right:20px; margin-top:135px; margin-bottom:95px; font:2px 'DINPro-Regular', Arial, sans-serif; color:#1166ac; text-align:left; text-decoration:none; background-image:url('../img/megaOfertasCarsaleHeaderBtnDireita.jpg'); background-repeat:no-repeat; float:left; position:relative; }
.megaOfertasCarsaleBtnDireitaHeader a:hover { background-image:url('../img/megaOfertasCarsaleHeaderBtnDireitaHover.jpg'); background-repeat:no-repeat; text-decoration:none; color:#1166ac; }
.megaOfertasCarsaleBtnEsquerdaHeader { overflow:visible; }
.megaOfertasCarsaleBtnEsquerdaHeader a { width:34px; height:34px; margin-left:20px; margin-right:20px; margin-top:135px; margin-bottom:95px; font:2px 'DINPro-Regular', Arial, sans-serif; color:#1166ac; text-align:left; text-decoration:none; background-image:url('../img/megaOfertasCarsaleHeaderBtnEsquerda.jpg'); background-repeat:no-repeat; float:left; position:relative; }
.megaOfertasCarsaleBtnEsquerdaHeader a:hover { background-image:url('../img/megaOfertasCarsaleHeaderBtnEsquerdaHover.jpg'); background-repeat:no-repeat; text-decoration:none; color:#1166ac; }
.megaOfertasCarsaleHeaderTv { width:838px; height:200px; margin-top:60px; color:#1574c4; position:relative; float:left; overflow:hidden; }
.megaOfertasCarsaleHeaderTv a { text-decoration:none; color:#1574c4; }
.megaOfertasCarsaleHeaderTv a:hover { text-decoration:underline; color:#1574c4; }
.megaOfertasCarsaleGridOfertas { width:988px; height:auto; padding-top:20px; position:relative; float:left; overflow:hidden; }
.megaOfertasCarsaleOferta { width:230px; height:350px; padding-left:8px; padding-right:8px; margin-bottom:20px; position:relative; float:left; overflow:hidden; }
.megaOfertasCarsaleTituloOferta { width:210px; height:auto; padding-left:10px; padding-right:10px; font:24px 'PFDinDisplayProMedium', Arial, sans-serif; color:#205488; text-align:center; position:relative; float:left; overflow:hidden;

 }
.megaOfertasCarsaleTituloOferta a { text-decoration:none; color:#294cc4; } /*#205488   */
.megaOfertasCarsaleTituloOferta a:hover { text-decoration:underline; color:#205488; }
.megaOfertasCarsaleImgBgOferta { width:183px; height:184px; margin-top:8px; margin-left:23px; margin-right:23px; margin-bottom:12px; background-image:url('../images/megaOfertasCarsaleOfertasBg.jpg') !important; background-repeat:no-repeat; position:relative; float:left; overflow:hidden; }
.megaOfertasCarsaleImgBgOferta.2013 { width:183px; height:184px; margin-top:8px; margin-left:23px; margin-right:23px; margin-bottom:12px; background-image:url('../images/megaOfertasCarsaleOfertas2013Bg.jpg'); background-repeat:no-repeat; position:relative; float:left; overflow:hidden; }
.megaOfertasCarsaleImgOferta { padding-top:35px; padding-left: 5px !important; width: 180px !important; height: 120px !important; position:relative; float:left; overflow:hidden; }
.megaOfertasCarsaleValorOferta { font:18px 'DINPro-Regular', Arial, sans-serif; color:#531313; text-align:center; position:relative; float:left; overflow:hidden;padding-top: 19px !important; width: 180px !important;  }
.megaOfertasCarsaleValorOferta a { text-decoration:none; color:#531313; }
.megaOfertasCarsaleValorOferta a:hover { text-decoration:underline; color:black; }
.megaOfertasCarsaleTxtOferta {margin: 10px 0; width:210px; height:auto; padding-left:10px; padding-right:10px; font:14px 'DINPro-Regular', Arial, sans-serif; color:#5c5c5c; text-align:center; position:relative; float:left; overflow:hidden;margin: 10px 0; cursor: pointer; }
.megaOfertasCarsaleTxtOferta a { text-decoration:none; color:#5c5c5c; }
.megaOfertasCarsaleTxtOferta a:hover { text-decoration:underline; color:#5c5c5c; }
.megaOfertasCarsaleBtnComprarOferta { overflow:visible; }
.megaOfertasCarsaleBtnComprarOferta a { width:123px; height:27px; margin-left:53px; margin-right:53px; margin-top:10px; padding-top:4px; font:14px 'PFDinDisplayProMedium', Arial, sans-serif; color:#ffffff; text-align:center; text-decoration:none; background-image:url('../images/megaOfertasCarsaleOfertaBtn.png'); background-repeat:no-repeat; text-transform:uppercase; float:left; position:relative; }     
.megaOfertasCarsaleBtnComprarOferta a:hover { background-image:url('../images/megaOfertasCarsaleOfertaBtnHover.png'); background-repeat:no-repeat; text-decoration:none; color:#fff; }
.megaOfertasCarsaleFormImg img {
max-width: 500px;
max-height: 280px;
}
.dealerFichaTecnicaTxtLegenda { width:566px; height:26px; padding-bottom:10px; font:12px Arial, sans-serif; color:#5b5b5b; font-weight:bold; text-align:center; float:left; position:relative; }
.dealerFichaTecnicaTituloDesc { width:546px; height:45px; padding-top:10px; padding-left:20px; padding-bottom:8px; border-top:1px #bcbec0 solid; border-bottom:1px #bcbec0 solid; font:20px Arial, sans-serif; color:#000; font-weight:bold; text-align:left; float:left; position:relative; }
.dealerFichaTecnicaLineDescClaro { width:546px; height:16px; padding-top:5px; padding-left:20px; padding-bottom:4px; font:11px Arial, sans-serif; color:#414042; text-align:left; background-color:#fff; float:left; position:relative; }
.dealerFichaTecnicaLineDescEscuro { width:546px; height:16px; padding-top:5px; padding-left:20px; padding-bottom:4px; font:11px Arial, sans-serif; background-color:#eeeeee; color:#414042; text-align:left; float:left; position:relative; }
.dealerFichaTecnicaDescClaroLine { width:566px; height:auto; background-color:#fff; float:left; position:relative; }
.dealerFichaTecnicaDescEscuroLine { width:566px; height:auto; background-color:#eeeeee; float:left; position:relative; }
.dealerFichaTecnicaDescLineTxtA { width:170px; height:16px; padding-top:5px; padding-left:20px; padding-bottom:4px; font:11px Arial, sans-serif; color:#414042; text-align:left; float:left; position:relative; }
.dealerFichaTecnicaDescLineTxtB { width:370px; height:16px; padding-top:5px; padding-bottom:4px; font:11px Arial, sans-serif; color:#414042; text-align:left; float:left; position:relative; }
.dealerFichaTecnicaImg img {
	max-width: 535px;
}