.news-content:first-letter {
	font-size: 20px;
}
.news-content p {
	margin: 15px 0;
}
.slide-frame {
	height: 500px !important;
	background-color: #000;
}
.bbb-r, .bbb-l {
	height: 100% !important;
}









































